@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #E8F6EF;
  --cream: #F9E0BB;
  --dark-brown: #884A39;
  --light-brown: #C38154;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--dark-brown);
  background-color: var(--background-color);
}
